MyMovieListBeta-withWCF/MyMovieListBeta-withWCF/MyMovieListBeta-withWCF/Connected Services/MoviesServiceReference/ServiceMovies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceMML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceMML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movies" nillable="true" type="tns:Movies" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovies" nillable="true" type="tns:ArrayOfMovies" />
  <xs:complexType name="Movies">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YourSeanceDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movies" nillable="true" type="tns:Movies" />
</xs:schema>